{%extends 'base.html'%}
{% load static %}
{% block content %}
<div id="landing">
	<div class="row align-items-center">
		<div class="col">
			<div id="title">
				<h1>
					Prografit
				</h1>
				<p id="title-font">
					The tool to keep you healthy during long
					computer sessions.
				</p>
				<a href="{% url 'users:login' %}">
					<button class="custom-primary ">
						Get Started
					</button>

				</a>
			</div>
		</div>

		<div class="col">
			<img src="{% static 'img/computer.svg' %}" id="computer-img" />
		</div>
	</div>
</div>

{% endblock content %}